/HomeTask1/nbproject/private/
/HomeTask1/build/
/HomeTask2/nbproject/private/
/HomeTask2/build/
/HomeTask3/nbproject/private/
/HomeTask3/build/
/HomeTask4/nbproject/private/
/HomeTask4/build/
/HomeTask5/nbproject/private/
/HomeTask5/build/
/Inheritance/nbproject/private/
/Inheritance/build/
/JavaApplication12/nbproject/private/
/HomeTask6/nbproject/private/
/HomeTask6/build/
/HomeTask7/nbproject/private/
/HomeTask7/build/
